*.xml
Project/.idea/libraries/appcompat_v7_25_3_1.xml
Project/.idea/libraries/constraint_layout_1_0_2.xml
Project/.idea/libraries/espresso_core_2_2_2.xml
Project/.idea/libraries/exposed_instrumentation_api_publish_0_5.xml
Project/.idea/libraries/play_services_location_10_2_1.xml
Project/.idea/libraries/rules_0_5.xml
Project/.idea/libraries/support_core_ui_25_3_1.xml
Project/.idea/libraries/support_v4_25_3_1.xml